/*
  Author: ✰ Konstantin Aleksandrov ✰ https://github.com/koalex

  File Structure :
    1.  Name
    	1.1. Sub-name
*/

/************************
  1. Name
************************/


/* 1.1  Sub-name */

:local(.logo) {
  margin auto
  height 100%
}

:global(.react-grid-item)
  border 2px solid black
  background-color #ccc
